.link_title{
    font-size: 1.8em;
}

.date{
	text-align: right;
	font-size: 1.1em;
	text-decoration: underline;
}

.words{
	margin: 0.5em 0 ;
	padding: 0.3em;
	font-size: 1.6em;
}

.white{
	background-color: #FFF;
}

.tag{
	font-size: 1.3em;
	font-weight: bolder;
}