<h1>Pictures</h1>
<div class="col-xs-2"></div>
<div class="col-xs-8">
  <% @images.each do |image| %>
  <div class="image_box">
	<%= link_to image_tag(show_image_image_path(image), class: "image_mini"), image %><br>
	<%= truncate(image.name, length: 18) %>
  </div>
  <% end %>
  <br>
  <%= paginate(@images) %>
</div>
<div class="col-xs-2"></div>
