<p id="notice"><%= notice %></p>
<div>
  <span id="title">
	<%= @blog.title %>
  </span>
  <span  id="date">
  <%= 
    @blog.dating.strftime("%Y年%m月%d日") 
  %>
  </span>
</div>
<div id="words">
  <%== 
     @blog.word.gsub(/[<>&"\r\n]/,
			   "<" => "&lt;", ">" => "&gt;", "&" => "&amp;", '"' => "&quot;", "\n" => "<br />")
  %>
</div>
