<h1>記事の編集</h1>

<!-- 記事の編集 -->
<%= render partial: 'form', locals: {blog: @blog} %>

<%= link_to '詳細', @blog, class: "btn btn-default" %>
<%= link_to 'Back', blogs_management_path, class: "btn btn-success" %>
