<h1>MainPage</h1>
<div class="col-xs-2"></div>
<div class="col-xs-8">
  <!-- 記事の表示 -->
  <%= render partial: 'blog', collection: @blogs %>
  <!-- ページング処理 -->
  <%= paginate(@blogs) %>
</div>
<div class="col-xs-2"></div>
